Repository sebght/gcp-video-searchengine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:front, lint:front, test:unit_front, deploy:back, deploy:front

.gitlab-ci.yml:

variables:
  GCP_FUNCTION_NAME: helloGet
  GCP_ZONE: us-central1
  FRONT_BUCKET: pulumi.octo-bof-se.ga

stages:
  - build
  - lint
  - test
  - deploy

include:
  - local: '/bof-search-app/gitlab/template_build.yml'
  - local: '/bof-search-app/gitlab/template_lint_and_test.yml'
  - local: '/bof-search-app/gitlab/template_deploy.yml'

build:front:
  extends: .template_build
  before_script:
    - cd bof-search-app/front
  script: # Les scripts exécutés pendant ce job
    - echo "VUE_APP_API_URL = https://${GCP_ZONE}-${GCP_PROJECT_ID}.cloudfunctions.net/${GCP_FUNCTION_NAME}" > .env
    - npm install
    - npm run build
  after_script: # On sauvegarde le fichier package.json dans le répertoire "dist" pour le mettre en cache
    - cp bof-search-app/front/package.json bof-search-app/front/dist/package.json
  cache: # on définit notre cache
    policy: push
    key: node_modules
    paths:
      - ./bof-search-app/front/dist
      - ./bof-search-app/front/node_modules
  only: # On définit une règle d'exécution : ce job sera fait uniquement sur demo ou en cas de tag
    # refs:
    #   - merge_requests
    changes:
      - "bof-search-app/front/*"


lint:front:
  extends: .template_lint_and_test
  stage: lint # On lie le job au stage de lint
  before_script:
    - cd bof-search-app/front
  script: # Les scripts exécutés pendant ce job
    - npm run lint
  only:
    # refs:
    #   - merge_requests
    changes:
      - "bof-search-app/front/*"

test:unit_front:
  extends: .template_lint_and_test
  stage: test # On lie le job au stage de test
  before_script:
    - cd bof-search-app/front
  script: # Les scripts exécutés pendant ce job
    - npm run test:unit
  only:
    # refs:
    #   - merge_requests
    changes:
      - "bof-search-app/front/*"

deploy:back:
  extends: .template_deploy
  script:
    - cd bof-search-app/back
    - pulumi stack select sebght/bof-search-app/back
    - pulumi config set gcf:functionName ${GCP_FUNCTION_NAME}
    - npm i
    - pulumi up
  only:
    # refs:
    #   - merge_requests
    changes:
      - "bof-search-app/back/*"

deploy:front:
  extends: .template_deploy
  script:
    - cd bof-search-app/front
    - pulumi stack select sebght/bof-search-app/front
    - pulumi config set static-website:pathToWebsiteContents ./dist
    - pulumi config set static-website:bucketName ${FRONT_BUCKET}
    - pulumi config set static-website:region ${GCP_ZONE}
    - pulumi up
  only:
    # refs:
    #   - merge_requests
    changes:
      - "bof-search-app/front/*"

added node-modules to cache pull in deploy job
  bof-search-app/gitlab/template_deploy.yml
Due: none

changed path of cache pull in deploy job
  bof-search-app/gitlab/template_deploy.yml
Due: none

change GCP credentials var name
  bof-search-app/gitlab/template_deploy.yml
Due: none

separated pulumi front from vue files
  .gitlab-ci.yml
  bof-search-app/back/package.json
  bof-search-app/front/package-lock.json
  bof-search-app/front/package.json
  bof-search-app/front/pulumi/Pulumi.front.yaml
  bof-search-app/front/pulumi/Pulumi.yaml
  bof-search-app/front/pulumi/index.ts
  bof-search-app/front/pulumi/package-lock.json
  bof-search-app/front/pulumi/package.json
  bof-search-app/front/pulumi/tsconfig.json
  bof-search-app/gitlab/template_deploy.yml
Due: build:front, lint:front, test:unit_front, deploy:back, deploy:front

add GOOGLE_APPLICATION_CREDENTIALS for ADC
  bof-search-app/gitlab/template_deploy.yml
  bof-search-app/gitlab/template_lint_and_test.yml
Due: none

removed previous gcloud auth
  bof-search-app/gitlab/template_deploy.yml
Due: none

replaced ACL by IAM binding + changed keys for cache
  .gitlab-ci.yml
  bof-search-app/front/pulumi/index.ts
  bof-search-app/gitlab/template_deploy.yml
  bof-search-app/gitlab/template_lint_and_test.yml
Due: none

allUsers needed group and not user
  bof-search-app/front/pulumi/index.ts
Due: none

unique function name + bucket-only iam policy
  .gitlab-ci.yml
  bof-search-app/front/pulumi/index.ts
Due: none

note pulumi_gitlabci
  notes/bof-search-app/pulumi_gitlabci.md
Due: none

allUsers without group identifier
  bof-search-app/front/pulumi/index.ts
Due: none

fixed npm vulnerabilities
  history-training/24-tester-cloud-vision-api-avec-une-vidéo-de-bof/package-lock.json
  history-training/25-tester-cloud-speech-to-text-api-avec-une-vidéo-de-bof/package-lock.json
  history-training/7-configurer-une-route-sur-gcloud-endpoint/package-lock.json
  history-training/7-configurer-une-route-sur-gcloud-endpoint/package.json
Due: none

refacto back as pulumi serverless example
  .gitlab-ci.yml
  bof-search-app/back/hw-func/index.js
  bof-search-app/back/index.ts
Due: deploy:back

naming cloud function ok
  bof-search-app/back/index.ts
Due: deploy:back

fix wrong endpoint
  .gitlab-ci.yml
Due: none

added openapi.yaml to .gitgnore
  bof-search-app/back/.gitignore
Due: deploy:back

train firestore with client lib
  history-training/37-decouvrir-firestore/index.js
  history-training/37-decouvrir-firestore/package-lock.json
  history-training/37-decouvrir-firestore/package.json
Due: none

add pulumi firestore basic index
  history-training/37-decouvrir-firestore/pulumi/.gitignore
  history-training/37-decouvrir-firestore/pulumi/Pulumi.dev.yaml
  history-training/37-decouvrir-firestore/pulumi/Pulumi.yaml
  history-training/37-decouvrir-firestore/pulumi/index.ts
  history-training/37-decouvrir-firestore/pulumi/package-lock.json
  history-training/37-decouvrir-firestore/pulumi/package.json
  history-training/37-decouvrir-firestore/pulumi/tsconfig.json
Due: none

add notes firestore training
  history-training/37-decouvrir-firestore/README.md
Due: none

add notes firestore training 2
  notes/history-training/37-decouvrir-firestore.md
Due: none

added signed url function
  bof-search-app/back/index.ts
Due: deploy:back

added signed-url folder
  bof-search-app/back/signed-url/index.js
  bof-search-app/back/signed-url/package-lock.json
  bof-search-app/back/signed-url/package.json
Due: none

added some logs to signedUrl CF
  bof-search-app/back/signed-url/index.js
Due: none

bof upload form mvp
  bof-search-app/front/.browserslistrc
  bof-search-app/front/.eslintrc.js
  bof-search-app/front/.gcloudignore
  bof-search-app/front/.gitignore
  bof-search-app/front/README.md
  bof-search-app/front/babel.config.js
  bof-search-app/front/cors.json
  bof-search-app/front/cypress.json
  bof-search-app/front/package-lock.json
  bof-search-app/front/package.json
  bof-search-app/front/postcss.config.js
  bof-search-app/front/public/index.html
  bof-search-app/front/pulumi/Pulumi.front.yaml
  bof-search-app/front/pulumi/Pulumi.yaml
  bof-search-app/front/pulumi/index.ts
  bof-search-app/front/pulumi/package-lock.json
  bof-search-app/front/pulumi/package.json
  bof-search-app/front/pulumi/tsconfig.json
  bof-search-app/front/src/App.vue
  bof-search-app/front/src/api/cf_postBof.js
  bof-search-app/front/src/api/cloudfunction.js
  bof-search-app/front/src/assets/logo.svg
  bof-search-app/front/src/components/HelloWorld.vue
  bof-search-app/front/src/main.js
  bof-search-app/front/src/plugins/vuetify.js
  bof-search-app/front/src/router.js
  bof-search-app/front/src/views/About.vue
  bof-search-app/front/src/views/Home.vue
  bof-search-app/front/src/views/Upload.vue
  bof-search-app/front/tests/e2e/.eslintrc.js
  bof-search-app/front/tests/e2e/plugins/index.js
  bof-search-app/front/tests/e2e/specs/test.js
  bof-search-app/front/tests/e2e/support/index.js
  bof-search-app/front/tests/unit/.eslintrc.js
  bof-search-app/front/tests/unit/api/cloudfunction.spec.js
  bof-search-app/front/tests/unit/components/HelloWorld.spec.js
  bof-search-app/front/tests/unit/example.spec.js
Due: build:front, lint:front, test:unit_front, deploy:front

added rules to fileInput
  bof-search-app/front/src/api/cf_postBof.js
  bof-search-app/front/src/views/Upload.vue
Due: none

restored pulumi front stack
  bof-search-app/front/pulumi/Pulumi.front.yaml
  bof-search-app/front/pulumi/Pulumi.yaml
  bof-search-app/front/pulumi/index.ts
  bof-search-app/front/pulumi/package-lock.json
  bof-search-app/front/pulumi/package.json
  bof-search-app/front/pulumi/tsconfig.json
Due: none

non breaking changes in front pulumi stack
  bof-search-app/front/pulumi/index.ts
  bof-search-app/front/pulumi/package-lock.json
Due: none

init pulumi setup source bucket
  bof-search-app/setup/.gitignore
  bof-search-app/setup/Pulumi.setup.yaml
  bof-search-app/setup/Pulumi.yaml
  bof-search-app/setup/index.ts
  bof-search-app/setup/package-lock.json
  bof-search-app/setup/package.json
  bof-search-app/setup/tsconfig.json
Due: none

update Firestore function added
  bof-search-app/back/index.ts
  bof-search-app/back/signed-url/index.js
  bof-search-app/back/signed-url/package-lock.json
  bof-search-app/back/signed-url/package.json
Due: deploy:back

config BoRe for the win
  bof-search-app/front/public/env.js
  bof-search-app/front/public/index.html
Due: none

firestore update ok for back
  bof-search-app/back/upload-bof/index.js
  bof-search-app/back/upload-bof/package-lock.json
  bof-search-app/back/upload-bof/package.json
Due: none

bof posting ok, but wrong process
  bof-search-app/front/cors.json
  bof-search-app/front/src/api/cf_postBof.js
  bof-search-app/front/src/api/postBof.js
  bof-search-app/front/src/views/Upload.vue
Due: build:front, lint:front, test:unit_front, deploy:front

remove .idea folders
  .gitignore
Due: none

new function triggerNewBof
  bof-search-app/back/index.ts
  bof-search-app/back/upload-bof/index.js
  bof-search-app/back/upload-bof/package-lock.json
  bof-search-app/back/upload-bof/package.json
Due: deploy:back

update front
  bof-search-app/front/public/env.js
  bof-search-app/front/src/App.vue
  bof-search-app/front/src/api/postBof.js
  bof-search-app/front/src/router.js
  bof-search-app/front/src/views/About.vue
  bof-search-app/front/src/views/CreateBof.vue
  bof-search-app/front/src/views/Upload.vue
Due: none

added reportNewBof
  bof-search-app/back/index.ts
  bof-search-app/back/upload-bof/index.js
  bof-search-app/back/upload-bof/package-lock.json
  bof-search-app/back/upload-bof/package.json
Due: deploy:back

added package.json in lambdas folder
  bof-search-app/backend/cloud-functions/index.ts
  bof-search-app/backend/cloud-functions/upload-bof/index.js
  bof-search-app/backend/cloud-functions/upload-bof/package.json
  bof-search-app/client/package.json
  bof-search-app/package.json
Due: none

added todo remove env.js from public folder
  bof-search-app/client/public/env.js
Due: none

some prettier operations
  bof-search-app/client/src/App.vue
  bof-search-app/client/src/components/HelloWorld.vue
  bof-search-app/client/src/main.js
  bof-search-app/client/src/plugins/vuetify.js
  bof-search-app/client/src/views/Home.vue
  bof-search-app/client/src/views/Upload.vue
Due: none
